@foreach (FaraDosar.Models.Card card in ViewBag.Cards)
{
    <div class="card">

        @Html.Partial("CardPartial", card )

        <a class="btn btn-success" href="/Posts/Show/@card.Id">Afisare Card</a>

    </div>

    <br />
    <br />
}

<section class="container1">

    <div class="cards1">
        <div class="card-image CAR"></div>
        <h2>Product Landing Page</h2>
        <p>
            A landing page of a product, build with vanilla css.
        </p>
        <a href="https://ddj400landingpage.netlify.app/" target="_blank" class="Demo">Demo</a>
        <a href="https://github.com/DBojneagu/Product-Website" target="_blank" class="Code">Code</a>
    </div>

    <div class="cards2">
        <div class="card-image CAR2"></div>
        <h2>Assembly Backtrack implementation</h2>
        <p>
            This was my second project from computer arhitecture at my university. I implemented a iteratable backtracking algorithm in assembly language.
            The syntax used was AT&T, on a x86 arhitecture.
        </p>
        <a href="https://github.com/DBojneagu/Assembly-Backtracking" target="_blank" class="Code2">Code</a>
    </div>

    <div class="cards2">
        <div class="card-image CAR3"></div>
        <h2>Sorting Algorithms</h2>
        <p>This is my first project of the second semester.In this course, called data structures, i had to implement an algorithm with 5 or more sorting algorithm and compare their run-time.</p>
        <a href="https://github.com/DBojneagu/SD-Project1" target="_blank" class="Code">Code</a>

    </div>
