



@if(ViewBag.Id == 1)
{
	<p> Universitate
1. Înscrierea
2. Plata taxei de examinare (dacă este
cazul)
3. Examinare
4. Rezultat
4.1 În caz de promovare, diploma de
absolvire a liceului va fi înaintată în
original la facultatea aleasă
		4.2 În caz de ne-promovare, fie se
		repetă procesul de înscriere, fie se
		optează pentru un loc cu taxă, în acest
		caz trebuie plătită o taxă înainte de
		începutul anului universitar pentru
		rezervarea locului
	</p>
}

@if(ViewBag.Id == 2){
	<p>test sa vad daca merge, aici e pe id 2</p>
}