<link rel="stylesheet" href="~/css/prezentare.css"/>

@if(ViewBag.Id == 1)
{

	<div class="page-container">
		<div class="text-container">
			<h1>Inscrierea la universitate</h1>
			<p>Pasii care trebuie urmati de un cetatean pentru a se putea inscrie la orice facultate sunt:</p>
			<ol>
				<li>Înscrierea</li>
				<li>Plata taxei de examinare (dacă este cazul)</li>
				<li>Examinare</li>
				<li>Rezultat</li>
				<ol>
					<li>
						În caz de promovare, diploma de
						absolvire a liceului va fi înaintată în
						original la facultatea aleasă
					</li>
					<li>
						În caz de ne-promovare, fie se
						repetă procesul de înscriere, fie se
						optează pentru un loc cu taxă, în acest
						caz trebuie plătită o taxă înainte de
						începutul anului universitar pentru
						rezervarea locului
					</li>
				</ol>
			</ol>
		</div>

		@*trimite in methoda New cu GET (sper) atributul *@
		<a href="/Appointments/New?attributeName=InscriereUniversitate" class="buton rounded-pill">Adauga programare</a>
	</div>

}

@if(ViewBag.Id == 2){
	<div class="page-container">
		<div class="text-container">
			<h1>Cautarea unui loc de munca</h1>
			<p>Pasii care trebuie urmati de un cetatean pentru a cauta un loc de munca:</p>
			<ol>
				<li>
					Înaintarea unei cereri de înregistrare
					în baza de date a ANOFM
				</li>
				<li>Prezentarea unui Curriculum Vitae
				(CV)</li>
				<li>Selectarea domeniilor de interes</li>
				<li>
					În funcţie de locurile disponibile,
					solicitantul este plasat în poziţia
					adecvată
				</li>
				
			</ol>
		</div>
		<a href="#" class="buton rounded-pill">Adauga programare</a>
	</div>
}

@if (ViewBag.Id == 6)
{
	<div class="page-container">
		<div class="text-container">
			<h1>
				Obţinerea de surse de finanţare
			</h1>
			<p>
				Pasii care trebuie urmati de un cetatean pentru obţinerea de surse de finanţare:
			</p>
			<ol>
				<li>
					Selectarea sursei de finanţare, în
					funcţie de necesităţi
				</li>
				<li>
					Aplicarea pentru obţinerea finanţării
				</li>
				<li>
					Dovezi ale capacităţii de returnare a
					sumei împrumutate - garanţii
				</li>
				<li>Decizie</li>
				<li>
					Verificarea veridicității clientului
				</li>
				<ol>
					<li>
						Aprobare, dacă clientul prezintă o
						istorie financiară pozitivă
					</li>
					<li>
						Respingere, dacă clientul are o
						reputaţie de rău platnic / nu deţine
						resursele necesare pentru a restitui
						împrumutul
					</li>
				</ol>

			</ol>
		</div>
		<a href="#" class="buton rounded-pill">Adauga programare</a>
	</div>
}
