@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 style="display: flex; justify-content: center">Setările profilului</h1>

<div>
    <hr />
    <div class="row">
        <div class="row-md-3" style="display: flex; justify-content: center">
            <partial name="_ManageNav" />
        </div>
        <div class="row-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
